*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./imagens/espaco-1870.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.astronauta{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 30%;
}